*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: orange;
    height: 100vh;
     /* position: relative; */
     /* display: flex;
     justify-content: center;
     align-items: center; */

     /* background-image: linear-gradient(rgb(255, 0, 0,0.1),rgb(255, 0, 0.1)), url(/images/img.jpeg); */
          /* background-image: url(/images/img.jpeg); */
          height: 100%;
          width: 100%;


}
body h1{
    text-align: center;
    margin-top: 40px;
    text-transform: uppercase;
    background-color: black;
}
body:hover{
    background-color: black;
}

.box{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    font-size: 45px;
    color:#fff;  
    
}

.box span{
    transition: all 0.8s ease-in-out;
    display: inline-block;
    margin-right: 20px;
   

}
.box span:hover{
 transform:translateY(-30px) scale(2) rotate(10deg);
 color: black; 
 font-size: 100px;
 background-repeat: no-repeat;

}

body span:hover{
    border: 3px dashed red;
}